/* INTRO PAGE */

.g-home {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;
}

.NAV:hover {
    background-color: gray;
    border: 1px solid #bdbdbd;
    border-radius: 30px;

}

.modal-body
{
    background-color: #FFFFFF;
    width: 100%;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: transparent;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

div img {
	width: 270px;
	height: 95px;
	margin:5px;
}

.search {
	width: 570px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:5px;
	background: url('data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs');
	background-repeat:no-repeat;
	background-position:548px 4px;
	background-size:14px 19px;
	}

.button {
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	border-radius:2px;
}

.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}

.search:hover {
	border:1px solid #aaaaaa;
}
.make-ur-life-ezr {
    text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    /* filter:grayscale(100%); */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:#696969;
    opacity: 1; /* Firefox */
}

input[type="search"]{
    background: #f3f3f3;
  
}

#edamam-badge {
    text-align: left;
}
#searchItem {
    margin-bottom: 10px;
}
.searched-result-page{
    text-align: center;
}
.search-area {
    margin: 0 10%;
}
#searchItem {
    margin-bottom: 30px;
}
#initial-search {
    width: 275px;
}
.intro_btns {
    margin-top: 15px;
    text-align: center;
}

/* SEARCH MODAL */
.search-item {
    overflow: hidden;
}

.searched-item-name {
    padding: 15px;
    text-align: center;
}

.searched-item-img {
    margin-bottom: 15px;
}

.searched-item-diet-label {
    margin: 0px 15px;
}

.searched-item-health-label {
    margin: 0px 15px 15px 15px;
}

.label {
    text-align: right;
}

.like {
    background-color: #84FCA1;
    position: absolute;
    right: 5%;
    height: 38px;
    top: 50%;
}

.like:hover {
    background-color: #64FE8A;
    box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px green;
}

.dislike {
    background-color: #FEA69D;
    position: absolute;
    left: 5%;
    height: 38px;
    top: 50%;
}

.dislike:hover {
    background-color: #FA8E83;
    box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
}

/* DETAIL MODAL */
.item-name {
    text-align: center;
    padding: 0;
}

#recipe-name {
    margin: 0 auto;
    padding: 20px;
}

.item-info {
    border-right: 1px solid black;
}

.item-img {
    display: block;
    margin: 0 auto;
    padding: 15px 0px 15px 15px;
}


/* SEARCH RESULT PAGE */
.liked-item {
    padding: 25px;
}

.page-tab {
    position: fixed;
    right: 2%;
    top: 10%;
    z-index: 100;
}
.detail-search-form {
    display: none;
}

.food-ctnr {
    background-color: #C8C6C6;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2%;
    max-width: 302px;
}

/* RESULT PAGE */
.fav-btn {
    position: absolute;
    top:2%;
    right: 3%;
    z-index: 50;
    background: rgba(255,255,255,0);
    border-style: none;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px red;
    font-size: 2em;

}
.result-item {
    clear: both;
    padding: 30px;
}

#result-header {
    font-size: 2em;
    text-align: center;
}

.result-item-pic {
    /* float: left; */
    padding: 20px;
    width: 100%;
    /* height: 400px; */
    text-align: center;

}
.item-info {
    text-align: center;
    padding: 5% 0;
}



/* Restaurant Name, Food Name, Price */
/* h5 {
    display: inline;
} */
/* .restaurant-location {
    height: 200px;
} */
#map {
    border-left: 1px solid black;
    height: 100%;
}

.food-price {
    float: right;
}

    /* Rating/Distance, Delivery, Takeout */
/* .restaurant-info {
    margin-top: 20px;
} */

.secondary-info {
    margin-top: 20px;
}

/* h6 {
    display: inline;
} */

.delivery {
    background-color: #F75124;
    border: 1px solid black;
    border-radius: 3px;
    float: right;
    margin-left: 20px;
    width: 50px;
}

.takeout {
    background-color: #F75124;
    border: 1px solid black;
    border-radius: 3px;
    float: right;
    width: 50px;
}

.btn {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 2px 2px black;
}
.more-btn-area {
    float: right;
}


/* INTRO PAGE */
.banner_intro {
    /* text-align: center; */
    height: 100vh;
}
.banner_intro h1 {
    margin-top: 10%;
    text-align: center;

}
.food-item {
    height: 500;
}
.food-item img {
    width: 100%;
    height: 500px;

}
#enjoyYourFoodDating {
    height: 500px;
}
#datingNote {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 20%;
}
#resultNote {
    text-align: center;
}
.result{
    border: 0;
}


.temp-btn {
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
}

/* Media Queries */
/* @media (min-width: 1200px) {
    body{
        background-color: lightcoral;
    }
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: black;
  }
  
  .footer-social-list {
    margin-top: 20px;
    color: gray;
  }
  .ft-icon{
      text-align: right;
  }
  .fa{
    margin: 10px;
  }
  

@media (min-width: 768px) and (max-width: 1199px) {
    body{
        background-color: rgb(170, 247, 189)
    }
}

@media (max-width: 767px) {

    /* Intro Page */

    /* Results Page */

    body{
        background-color: lightskyblue;
    }
}

@media (max-width: 480px) {

    /* Intro Page */

    /* ------------- */
    body{
        background-color: gray;
    }
}