
.banner_intro {
    text-align: center;
}
.banner_intro h1 {
    margin-top: 10%;
    text-align: center;

}
.food-item {
    height: 500; /* temp */  
    /* position: relative; */
    /* overflow: hidden; */
}
.food-item img {
    width: 100%;
    height: 500px;
    /* max-height: 100%; */
    /* min-height: 100%; */
}
#enjoyYourFoodDating {
    height: 500px;
}
#datingNote {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 20%;
}
#resultNote {
    text-align: center;
}

.to-random {
    margin-top: 10%;
}

#like {
    position: absolute;
    bottom: 13%;
    right: 5%;
}
#dislike {
    position: absolute;
    bottom: 5%;
    right: 5%;
}