/* INTRO PAGE */
.make-ur-life-ezr {
    text-align: center;
}
#edamam-badge {
    text-align: left;
}
.search-area {
    margin: 0 10%;
}
.intro_btns {
    text-align: center;
    margin-top: 5%;
}

/* SEARCH MODAL */
.search-item {
    overflow: hidden;
}

#like {
    position: absolute;
    right: 0%;
    height: 38px;
    top: 60%;
}
#dislike {
    position: absolute;
    left: 5%;
    height: 38px;
    top: 60%;
}

/* DETAIL MODAL */
.item-name {
    text-align: center;
    padding: 0;
}
#recipe-name {
    text-align: center;
}
.item-img {
    width: 100%;
    height: 100%;
}


/* SEARCH RESULT PAGE */
.page-tab {
    position: fixed;
    right: 2%;
    top: 10%;
    z-index: 100;
}
.detail-search-form {
    display: none;
}

.food-ctnr {
    background-color: #C8C6C6;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2%;
    max-width: 302px;
}

/* RESULT PAGE */
.container {
    background-color: #C8C6C6;
}
.fav-btn {
    position: absolute;
    top:2%;
    right: 3%;
    z-index: 50;
    background: rgba(255,255,255,0);
    border-style: none;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px red;
    font-size: 2em;

}
.result-item {
    clear: both;
    padding: 30px;
}

#result-header {
    font-size: 2em;
    text-align: center;
}

.result-item-pic {
    /* float: left; */
    padding: 20px;
    width: 100%;
    /* height: 400px; */
    text-align: center;

}
.item-info {
    text-align: center;
    padding: 5% 0;
}



/* Restaurant Name, Food Name, Price */
/* h5 {
    display: inline;
} */
.restaurant-location {
    height: 200px;
}
#map {
    height: 100%;
}

.food-price {
    float: right;
}

    /* Rating/Distance, Delivery, Takeout */
/* .restaurant-info {
    margin-top: 20px;
} */

.secondary-info {
    margin-top: 20px;
}

/* h6 {
    display: inline;
} */

.delivery {
    background-color: #F75124;
    border: 1px solid black;
    border-radius: 3px;
    float: right;
    margin-left: 20px;
    width: 50px;
}

.takeout {
    background-color: #F75124;
    border: 1px solid black;
    border-radius: 3px;
    float: right;
    width: 50px;
}

.btn {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 2px 2px black;
}
.more-btn-area {
    float: right;
}


/* INTRO PAGE */
.banner_intro {
    /* text-align: center; */
    height: 100vh;
}
.banner_intro h1 {
    margin-top: 10%;
    text-align: center;

}
.food-item {
    height: 500;
}
.food-item img {
    width: 100%;
    height: 500px;

}
#enjoyYourFoodDating {
    height: 500px;
}
#datingNote {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 20%;
}
#resultNote {
    text-align: center;
}


.temp-btn {
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
}
#like {
    position: absolute;
    bottom: 13%;
    right: 5%;
}
#dislike {
    position: absolute;
    bottom: 5%;
    right: 5%;
}